
$(function() {

 $('.document_list').width(750).height(50).perfectScrollbar();

 if (tabsShowing !== true) {
	var content = $("<%= j render 'panel' %>");
	$('body').append(content);
	tabsShowing = true;
	tabsCount += 1;

 } 
 else {
    $('.active').removeClass('active');
    var new_tab = $('<li class="active"><a href="#<%= @document.id %>" data-toggle="tab"><%= @document.file_name %> &nbsp;&nbsp;<span class="times">&times;</span> </a></li>');
    var new_div = $('<div class="tab-pane active" id="<%= @document.id %>"><%= link_to "", parse_url(@document.uploaded_file.url) , class: "embed"  %>"</div>');
    $('div.tab-panel ul.nav').append(new_tab);	
    $('div.tab-content').append(new_div);
    $('a.embed').gdocsViewer({width: 800});
    tabsCount += 1;

}


});


