<% cache ["library", current_user, @current_folder]  do %>
<div id="menu"> 
  <%= render partial: "libraries/breadcrumbs" %> 
   <ul id= "top_menu">     
       
       <% if @current_folder %>
         <li><%= link_to "Upload", new_sub_file_path(@current_folder) , remote: true %></li> 
         <li><%= link_to "New Folder", new_sub_folder_path(@current_folder), remote: true %></li>
       <% else %>
          <li><%= link_to "Upload", new_document_path, remote: true %></li> 
          <li><%= link_to "New Folder", new_folder_path, remote: true %></li>
       <% end  %>
   </ul> 
</div> 
<div class="document_list_header"> 
       <div class="file_name_header">File Name</div> 
       <div class="file_size_header">Size</div> 
       <div class="file_last_updated_header">Modified</div> 
</div> 

<div class="document_list">
   <% @folders.each do |folder| %> 
        <div class="document_details folder"> 
            <div class="file_name"><%= link_to folder.name, browse_path(folder.id), remote: true  %></div> 
            <div class="file_size"> - </div> 
            <div class="file_last_updated"> - </div>
            <div class="actions">
              <div class="rename">
                <%= link_to "Rename", rename_folder_path(folder) %> 
              </div>
              <div class="delete">
              <%= link_to "Delete", folder, :confirm => 'Are you sure to delete the folder and all of its contents?', :method => :delete, remote: true %>
              </div>
            </div>
        </div> 
    <% end %> 
   <% @documents.each do |document| %> 
       <div class="document_details document"> 
           <div class="file_name"><%= link_to document.file_name, read_path(document), remote: true %></div> 
           <div class="file_size"><%= number_to_human_size(document.file_size, precision: 2 ) %></div> 
           <div class="file_last_updated"><%= document.uploaded_file_updated_at %></div> 
           <div class="actions">
             <div class="download">
               <%= link_to "Download", download_path(document) %>
             </div>
             <div class="delete">
               <%= link_to "Delete", document, :confirm => 'Are you sure?', :method => :delete, remote: true %> 
             </div>
           </div>
       </div> 
   <% end %> 
</div> 


<script type="text/javascript">
  if (tabsShowing) {
     $('.document_list').width(750).height(50).perfectScrollbar();
  }
</script>
<% end %>